{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container intro-container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="logo-font text-center fw-bold">
                    Healing Crystals & Spiritual Products
                </h1><br>
                <div class="text-center">
                    <h5>
                        <a class="btn btn-md btn-dark" href="#" role="button">Shop Now</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid about-container h-50">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h3 class="logo-font text-center text-light">Our Story</h3>
                <p class="logo-font text-center text-dark">                   
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid products-container h-auto">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h1 class="logo-font text-center text-dark mt-5">Collections</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/crystal-mini.jpg" class="card-img mini-card" alt="raw crystals">
                            <div class="card-img-overlay">
                                <hp class="card-title centered fs-4">Raw Crystals</p>   
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/ring-mini.jpg" class="card-img mini-card" alt="jewellery">
                            <div class="card-img-overlay">
                                <p class="card-title centered fs-4">Jewellery</p>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/lamp-mini.jpg" class="card-img mini-card" alt="salt lamps">
                            <div class="card-img-overlay">
                                <p class="card-title centered fs-4">Salt Lamps</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h5>
                        <a class="btn btn-md my-5 btn-dark" href="#" role="button">View All</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid subscribe-container h-50">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h3 class="logo-font text-center text-dark">Subscribe</h3>
            </div>
        </div>
    </div>
    
{% endblock %}