{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Intro content -->
    <div class="container intro-container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="logo-font text-center text-dark fw-bold intro-header display-5">
                    Healing Crystals & Spiritual Products
                </h1>
                <h4 class="logo-font text-dark text-center">Free delivery for orders over €{{ free_delivery_threshold }}</h4>
                <br>
                <div class="text-center">
                    <h5>
                        <a class="mt-4 btn btn-dark rounded-0 btn btn-md text-uppercase" href="{% url 'products' %}" role="button">Shop Now</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Sotry content -->
    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-10 mx-auto my-auto text-center">
                <h3 class="logo-font text-center mt-5 text-dark display-6">Our Story</h3>
                <hr class="w-50 mx-auto mb-5 text-dark">
                <div class="text-center text-dark w-90 mb-5">
                    <small>
                        Lucent Cavern is a small business located in a west coast of Ireland. Started in the 2001. Lucent Cavern offers Crystals and other Spiritual tools that can help enhance your Therapy Room, your own Sanctuary at Home, or your Peace Corner. At our shop we endavour to keep as big a variety as possible, at the same time keeping reasonable price.
                        If you are new to our store, we hope you can find something that catches your eye and makes you smile! If you have any questions or thoughts, don't be shy we would love to hear from you!
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!-- Favorite collections content -->
    <div class="container-fluid products-index-container h-auto">
        <div class="row h-100">
            <div class="col-10 my-5 mx-auto">
                <h3 class="logo-font text-center text-dark display-6">Favorite Collections</h3>
                <hr class="w-50 mx-auto mb-4 text-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card my-5 bg-dark rounded-0 text-white border-0">
                                <img src="{{ MEDIA_URL }}crystal-mini.jpg" class="card-img mini-card " alt="raw crystals">
                                <div class="card-img-overlay"> 
                                    <a class="card-title text-light centered text-decoration-none fs-4"
                                        href="{% url 'products' %}?category=raw_crystals">
                                            Raw Crystals
                                    </a>  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card my-5 bg-dark rounded-0 text-white border-0">
                                <img src="{{ MEDIA_URL }}ring-mini.jpg" class="card-img mini-card" alt="jewellery">
                                <div class="card-img-overlay">
                                    <a class="card-title text-light centered text-decoration-none fs-4"
                                        href="{% url 'products' %}?category=jewellery">
                                            Jewellery
                                    </a>  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card my-5 bg-dark text-white rounded-0 border-0">
                                <img src="{{ MEDIA_URL }}lamp-mini.jpg" class="card-img mini-card" alt="salt lamps">
                                <div class="card-img-overlay">
                                    <a class="card-title text-light centered text-decoration-none fs-4"
                                        href="{% url 'products' %}?category=salt_lamps">
                                            Salt lamps
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button to view all products -->
                <div class="text-center">
                    <h5>
                        <a class="mt-5 mb-5 btn btn-dark rounded-0 btn btn-md  text-uppercase" href="{% url 'products' %}" role="button">View All Categories</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscription input field container -->
    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-10 mx-auto my-auto text-center">
                <h3 class="logo-font text-center mt-5 text-dark display-6">Subscribe</h3>
                <hr class="w-50 mx-auto mb-4 text-dark">
                <div class="text-center text-dark w-90 mb-5">
                    <small>
                        Subscribe for our weekly newsletter to see the latest products, updates and offers!
                    </small>
                </div>
                <form action="{% url 'subscriptions_join' %}" method="POST">
                {% csrf_token %}
                    <div class="mb-3">
                        <input type="email" class="form-control text-center rounded-0" id="subscriptions-id"  placeholder="Your Email Address" name="subscription_email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text small">We'll never share your email with anyone else.</div>
                    </div>
                    <!-- Button to submit form -->
                    <button type="submit" class="mt-5 mb-5 btn btn-dark rounded-0 btn btn-md  text-uppercase">Submit</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}