{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container intro-container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="logo-font text-center fw-bold">
                    Healing Crystals & Spiritual Products
                </h1>
                <h4 class="logo-font text-center">Free delivery for orders over €{{ free_delivery_threshold }}</h4>
                <br>
                <div class="text-center">
                    <h5>
                        <a class="btn btn-md btn-dark" href="{% url 'products' %}" role="button">Shop Now</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid about-container">
        <div class="row">
            <div class="col-10 mx-auto my-5">
                <h3 class="logo-font text-center text-dark">Our Story</h3>
                <p class="logo-font text-center text-dark">
                    Lucent Cavern is a small business located in a west coast of Ireland. Started in the 2001. Lucent Cavern offers Crystals and other Spiritual tools that can help enhance your Therapy Room, your own Sanctuary at Home, or your Peace Corner. At our shop we endavour to keep as big a variety as possible, at the same time keeping reasonable price.
                    If you are new to our store, we hope you can find something that catches your eye and makes you smile! If you have any questions or thoughts, don't be shy we would love to hear from you!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid products-index-container h-auto">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h1 class="logo-font text-center text-dark mt-5">Collections</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/crystal-mini.jpg" class="card-img mini-card" alt="raw crystals">
                            <div class="card-img-overlay"> 
                                <a class="card-title text-light centered text-decoration-none fs-4"
                                    href="{% url 'products' %}?category=raw_crystals">
                                        Raw Crystals
                                </a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/ring-mini.jpg" class="card-img mini-card" alt="jewellery">
                            <div class="card-img-overlay">
                                <a class="card-title text-light centered text-decoration-none fs-4"
                                    href="{% url 'products' %}?category=jewellery">
                                        Jewellery
                                </a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card my-5 bg-dark text-white">
                            <img src="/media/lamp-mini.jpg" class="card-img mini-card" alt="salt lamps">
                            <div class="card-img-overlay">
                                <a class="card-title text-light centered text-decoration-none fs-4"
                                    href="{% url 'products' %}?category=salt_lamps">
                                        Salt lamps
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h5>
                        <a class="btn btn-md my-5 btn-dark" href="{% url 'products' %}" role="button">View All</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid subscribe-container h-50">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h3 class="logo-font text-center text-dark">Subscribe</h3>
            </div>
        </div>
    </div>
    
{% endblock %}