{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay-product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="logo-font mt-4">Shopping Bag</h2>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <p>Please fill the form bellow to complete order</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
