{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-product">
        <div class="container container-margin mb-0">
            <div class="row">
                <div class="col">
                    <!--Page Header-->
                    <h2 class="text-start mx-5 mt-5">Thank You!</h2>
                </div>
                <hr class="w-80 mb-5">
            </div>
            <!--Order information-->
            <div class="row">
                <div class="col">
                    <p class="w-75 text-dark mx-5 mb-5 fs-6">Here is your order information. A confirmation email with order details will be sent to <strong>{{ order.email }}</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col mx-5">
                    <div class="p-2 confirmation-container p-5 border border-1 border-dark w-auto">
                        <div class="row">
                            <div class="col">
                                <p class="fw-bolder">Order (no.: {{ order.order_number }}) Info:</p>
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mt-3 mb-0 text-dark fw-bolder fs-6">Order Details:</p>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 mx-2 text-dark small fw-bold">Date:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.date }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 mx-2 text-dark small fw-bold">Items:</p>
                            </div>
                        </div>
    
                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                
                                <p class="small mx-2 mb-2 text-black font-weight-bold">
                                    {{ item.product.name }}
                                </p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                            </div>
                        </div>
                        {% endfor %}
    
                        <div class="row">
                            <div class="col">
                                <p class="mt-3 mb-0 text-dark fw-bolder fs-6">Delivering To:</p>
                            </div>
                            <hr>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Full Name</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.full_name }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Address 1</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.street_address1 }}</p>
                            </div>
                        </div>
    
                        {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Address 2</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.street_address1 }}</p>
                            </div>
                        </div>
                        {% endif %}
    
                        {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">County</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.county }}</p>
                            </div>
                        </div>
                        {% endif %}
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Town or City</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.town_or_city }}</p>
                            </div>
                        </div>
    
                        {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Postal Code</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.postcode }}</p>
                            </div>
                        </div>
                        {% endif %}
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Country</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.country }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Phone Number</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">{{ order.phone_number }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <p class="mt-3 mb-0 text-dark fw-bolder fs-6">Billing Info:</p>
                            </div>
                            <hr>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Total:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">€{{ order.order_total }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Delivery:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark mx-2">€{{ order.delivery_cost }}</p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 mx-2 text-dark small fw-bold">Grand Total:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-0 small text-dark fw-bold mx-2">€{{ order.grand_total }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Buttons-->
            <div class="row mt-5">
                <div class="col-12 text-center">
                    {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn rounded-0 btn btn-dark my-4 btn-md">
                            <span class="icon">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Profile</span>
                        </a>
                    {% else %}
                        <a href="{% url 'products' %}" class="rounded-0 btn btn-dark my-4 mb-5 btn-md">
                            <span class="text-uppercase">Take a look at our other products</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}