body {
    background: url('/media/crystals-index.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #ffffff;
    font-family: 'Alegreya', serif;
}

html {
    height: 100%;
}

.navbar-colors {
    background-color: black;
}

.navbar-toggler {
    background-color: #f1d8e2;
}

.about-container {
    background-color: #ceeaf7;
}

.products-container {
    background-color: #f5d7e0;
    
}   

.mini-card {
    opacity: 0.4;
    border: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}