{% load static %}
<footer class="footer-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mt-3">
                <div class="py-4 h-100 px-3">
                    <div class="text-center d-lg-none">
                        <i class="fas fa-map-marked-alt text-center fs-5"></i>
                    </div>
                    <a class="text-white text-lg-start text-center text-decoration-none" href="{% url 'home' %}"><h2 class="mb-4 mt-4"><strong></i>Lucent Cavern</strong></h2></a>
                    <p class="text-center text-lg-start text-sm-center">Where to find us:<br><br>129 Meanus Heights,<br>Castlemaine, Kerry<br>Ireland</p>
                </div>
            </div>

            <div class="col-md-4 mb-3 mt-3">
                <div class="py-4 h-100 px-3">
                    <div class="text-center">
                        <i class="fas fa-phone text-center fs-5"></i>
                    </div>
                    <a class="navbar-brand text-white text-center" href="{% url 'home' %}"><h4 class="mb-0 mt-lg-0 mt-4"><strong>Contact Us</strong></h4></a>
                    <div class="text-center">
                        <p class="text-center small mb-0">Send us an email:</p>
                        <a href="mailto:lucentcavern@lucentcavern.com" class="text-light small">lucentcavern@lucentcavern.com</a>
                        <p class="text-center small mt-4 mb-0">Call us (Mon-Fri 9am-5pm)</p>
                        <a href="tel:+353209163624" class="text-light small">+353209163624</a>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4 mb-3 mt-3">
                <div class="py-4 h-100 px-3">
                    <div class="text-center">
                        <i class="fas fa-hashtag text-center fs-5"></i>
                    </div>
                    <h4 class="mb-4 mt-lg-0 mt-4 text-white text-center"><strong>Follow Us</strong></h4>
                    <div class="row text-center">
                        <a href="https://www.facebook.com/" class="" target="_blank">
                            <i class="fab fa-facebook text-light fs-4"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="" target="_blank">
                            <i class="fab fa-instagram-square text-light fs-4"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="" target="_blank">
                            <i class="fab fa-linkedin text-light fs-4"></i>
                        </a>
                        <a href="https://www.youtube.com/" class="" target="_blank">
                            <i class="fab fa-youtube-square text-light fs-4"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container bg-black small text-center text-light pb-3">
            Lucent Cavern &copy; 2021 For educational purposes only
        </div>
    </div>
</footer>