<nav class="navbar row navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Lucent Cavern</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                        <li><a class="dropdown-item" href="#">All Products</a></li>
                        <li><a class="dropdown-item" href="#">Raw Crystals</a></li>
                        <li><a class="dropdown-item" href="#">Neclaces & Bracelets</a></li>
                        <li><a class="dropdown-item" href="#">Salt Lamps</a></li>
                        <li><a class="dropdown-item" href="#">Essential Oils</a></li>
                        <li><a class="dropdown-item" href="#">Dream cathers</a></li>
                        <li><a class="dropdown-item" href="#">Crystal Eggs & Spheres</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" method="GET" action="">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                <a class="dropdown-item" href="#">Product Managment</a>
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">My Favourites</a>
                <a class="dropdown-item" href="#">Logout</a>
                <a class="dropdown-item" href="#">Register</a>
                <a class="dropdown-item" href="#">Login</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link"
                href="#">
                <div class="text-center">
                    <div><i class="fas fa-shopping-cart"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </div>
</nav>