{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="overlay-products">
        <div class="container-fluid universal-margin">
            <div class="row">
                <!--Container Header-->
                <div class="col text-center header-margin h-100">
                    <h2 class="logo-font mt-5 display-5">Our Blog</h2>
                    <hr class="w-50 mx-auto mb-5">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3  mb-5 center">
                        <!-- Set Up core from https://simpleisbetterthancomplex.com/series/2017/09/18/a-complete-beginners-guide-to-django-part-3.html-->
                        {% for post in blogpost_list %}
                        <div class="card mb-4 rounded-0 border-dark bg-transparent">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-dark small text-capitalize">By: {{ post.author }} | {{ post.created_on }} </p>
                                <p class="card-text text-dark">{{post.content|slice:":200" }}</p>
                                <a href="{% url 'post_detail' post.slug  %}" class="mt-3 mb-3 btn btn-dark rounded-0 btn btn-dark btn-md text-uppercase">Read More</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </div>

{% endblock %}