{% extends 'base.html' %}
{% load static %}

<!-- 404 Content -->
{% block content %}
<div class="overlay-product">
    <div class="container mb-2 centered">
        <div class="row text-center text-dark">
            <div class="col">
                <h1 class="mb-5 display-5 fw-bold">404 Page not found</h1>
                <p class="fw-bold mb-5">Sorry, the page you are trying to access does not exist or is temporarily unavailable.</p>
                <a href="{% url 'home' %}" class="btn mb-5 btn-outline-black rounded-0 btn-dark btn-md">
                    <span class="icon">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </span>
                    <span class="text-uppercase">Home</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}