<div aria-live="polite" aria-atomic="true" class="position-relative" data-bs-autohide="false">
    <div class="toast-container">
        <div class="toast message-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-light text-danger">
                <strong class="me-auto">Error!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-dark">
                {{ message }}
            </div>
        </div>
    </div>
</div>